/* 
google fonts import
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Manrope:wght@300;400;500;700&family=Poppins:wght@300;400;500;700;900&display=swap');

/* fonts
  */
.fontPoppins {
    font-family: 'Poppins',
        sans-serif !important;
}

.fontInter {
    font-family: 'Inter',
        sans-serif !important;
}

.fontManrope {
    font-family: 'Manrope',
        sans-serif !important;
}

/********** buttons
 */
.btnCustom {
    background: #E76F51;
    border-radius: 5px;
}

/*
Text color
  */
.specialColor {
    color: #E76F51;
}

.lightColor {
    color: #252B42;
}

.darkColor {
    color: #0D0925;
}

/* 
home section background
*/
.homebg {
    background-color: #264653;
}
/* 
featured bike border on middle
*/
.bestBikeBorder {
    border: 1px solid #E76F51;
    border-radius: 1px;
    width: 58px;
}
/* 
featured bike grayscale color
*/
.grayscale {
    filter: grayscale(100%);
}